{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patients</title>
  <link rel="stylesheet" href="{% static 'fhir_app/css/list.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

  
  <form method="GET" action=".">
    <h3>Filter patients by family name</h3>
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border" type="search" name="name_contains" placeholder="Name contains..." />
      <span class="input-group-append">
          <div class="input-group-text bg-transparent">
              <button class="fa fa-search"></button>
          </div>
      </span>
    </span>
    </div>
  </form>


  <ul>
  {%for patient in entry%}
  <li>
    <div class="patient" id="patient">
      <div class="patient-data">
        <p>{{forloop.counter}}</p>
        <p>Id: {{patient.resource.id}}<p> 
        <p>First name: {{patient.resource.name.0.given.0}}</p>
        <p>Surname: {{patient.resource.name.0.family}}<p> 
        <p>Gender: {{patient.resource.gender}}</p>
        <p>Birth date: {{patient.resource.birthDate}}</p>
      </div>
      
      <div class="patient-identifiers">
        <ul>
          {%for identifier in patient.resource.identifier%}
          {%if identifier.type is not None%}
          <li>
            <p>{{identifier.type.coding.0.display}} : {{identifier.value}}<p>
          </li>
          {%endif%}
          {%endfor%}
        </ul>
      </div>
      <div class="patient-url">
        <a href={% url "patient" patient.resource.id %}>
          <button id ="patient-button" class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Details</span>
          </button>
        </a>
        <a href={% url "patient_edit" patient.resource.id %}>
          <button id ="patient-edit-button" class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Edit</span>
          </button>
        </a>
        {% if patient.resource.meta.versionId > "1" %}
        <a href={% url "patient_history" patient.resource.id patient.resource.meta.versionId %}>
          <button id ="patient-edit-button" class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">History</span>
          </button>
        </a>
        {% endif %}
      </div>
    </div>
  </li>
  {%endfor%}
  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

