{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observation History</title>
    <link rel="stylesheet" href="{% static 'fhir_app/css/observation_history.css' %}">
</head>
<body>
    <div class="version-buttons">
    {% for observation in history.entry%}
    <a href={% url "observation_history" observation.resource.id observation.resource.meta.versionId %}>
        <button id ="observation-button" class="btn version-button">
            <span class="mdc-button__label">
                Version number {{observation.resource.meta.versionId}}<br>
                Last modified on {{observation.resource.meta.lastUpdated}}</span>
        </button>
    </a>
    {% endfor %}
    </div>
    <div class="observation" id="patient">
        <div class="observation-data">
            <p>Version id: {{current.meta.versionId}}</p>
            <p>Last updated: {{current.meta.lastUpdated}}</p>
            <p>Id: {{current.id}}</p>
            <p>Status: {{current.status}}</p>
            <p>Category: {{current.category.0.coding.0.display}}</p>
            <p>Code: {{current.code.coding.0.display}}</p>

            {%if current.valueQuantity.value is not None%}
            <p>Value: {{current.valueQuantity.value}}</p>
            {% elif current.valueCodeableConcept is not None%}
            <p>Value: {{current.valueCodeableConcept.text}}</p>
            {%else%}
            <p>Value: {{current.component.0.valueQuantity.value}}</p>
            {%endif%}
            {%if current.valueQuantity.unit is not None%}
            <p>Unit: {{current.valueQuantity.unit|cut:"{"|cut:"}"}}</p>
            {% elif current.component.0.valueQuantity.unit is not None%}
            <p>Unit: {{current.component.0.valueQuantity.unit|cut:"{"|cut:"}"}}</p>
            {% else %}
            {%endif%}
            <div class="buttons">
                <a href={% url "observation_edit" current.id%}>
                    <button class="btn edit-button">
                        <span class="mdc-button__label">edit last version</span>
                    </button>
                </a>


                <a href={% url "patient" current.subject.reference|cut:"Patient/" %}>
                    <button class="btn return-button">
                        <span class="mdc-button__label">return to list</span>
                    </button>
                </a>
            </div>
        </div>
    </div>        
</body>
</html>