{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient History</title>
    <link rel="stylesheet" href="{% static 'fhir_app/css/patient_history.css' %}">
</head>
<body>
  <div class="version-buttons">
    {% for patient in history.entry%}
    <a href={% url "patient_history" patient.resource.id patient.resource.meta.versionId %}>
        <button id="patient-button" class="btn version-button">
          <span class="mdc-button__label">
              Version number {{patient.resource.meta.versionId}} <br>
            Last modified on {{patient.resource.meta.lastUpdated}}</span>
        </button>
      </a>
    {% endfor %}
      </div>
    <div class="patient" id="patient">
        <div class="patient-data">
          <p>Version id: {{current.meta.versionId}}</p>
          <p>Last updated: {{current.meta.lastUpdated}}</p>
          <p>Id: {{current.id}}</p>
          <p>First name: {{history.entry.0.resource.name.0.given.0}}</p>
          <p>Surname: {{history.entry.0.resource.name.0.family}}</p> 
          <p>Gender: {{current.gender}}</p>
          <p>Birth date: {{history.entry.0.resource.birthDate}}</p>

          <div class="patient-identifiers">
            <ul>
              {%for identifier in history.entry.0.resource.identifier%}
              {%if identifier.type is not None%}
              <li>
                <p>{{identifier.type.coding.0.display}} : {{identifier.value}}<p>
              </li>
              {%endif%}
              {%endfor%}
            </ul>
          </div>

            <div class="buttons">
              <a href={% url "patient_edit" current.id%}>
                  <button class="btn edit-button">
                      <span class="mdc-button__label">edit last version</span>
                  </button>
              </a>
              <a href={% url "patient_list" %}>
                  <button class="btn return-button">
                      <span class="mdc-button__label">return to list</span>
                  </button>
              </a>
            </div>
          </div>
        </div>
</body>
</html>