{%load static%}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="{% static 'fhir_app/css/patient_edit.css' %}">
</head>

<body>
    <div class="patient" id="patient">
        <div class="patient-data">
        
          <p>Version id: {{patient.meta.versionId}}</p>
          <p>Last updated: {{patient.meta.lastUpdated}}</p>
          <p>Id: {{patient.id}}<p>
          <form action="." method="get" id="patient-edit">
            <label for="name">First name: </label>
              <input value={{patient.name.0.given.0}} name="name" id="name">
              </input>
            <p>Surname: {{patient.name.0.family}}<p> 
            <label for="gender">Gender: </label>
            
              <input value={{patient.gender}} name="gender" id="gender">
              </input>
          
          <p>Birth date: {{patient.birthDate}}</p>
        </form>

        <div class="patient-identifiers">
          <ul>
            {%for identifier in patient.identifier%}
            {%if identifier.type is not None%}
            <li>
              <p>{{identifier.type.coding.0.display}} : {{identifier.value}}<p>
            </li>
            {%endif%}
            {%endfor%}
          </ul>
        </div>
        <div class="buttons">
            <button type="submit" class="btn update-button" form="patient-edit">
                <span class="mdc-button__label">UPDATE</span>
            </button>
            <a href={% url "patient_history" patient.id patient.meta.versionId%}>
                <button class="btn history-button">
                    <span class="mdc-button__label">HISTORY</span>
                </button>
            </a>
            <a href={% url "patient_list" %}>
                <button class="btn return-button">
                    <span class="mdc-button__label">RETURN</span>
                </button>
            </a>
          </div>
        </div>
        
      </div>
</body>

</html>