body {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    gap: 0.5em;

}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
}

.chart {
    padding: 1.5em;
}